.h-box {
    height: 100%;
    position: relative;
}
.editor-ext-operate {
    padding: 5px 10px;
    height: 30px;
}
.btn-release {
    position: absolute;
    right: 10px;
    z-index: 99;
}
.btn-home {
    right: 110px;
}
