.gutter-example .ant-row>div {
    background: transparent;
    border: 0;
}

.gutter-box {
    background: #00A0E9;
    padding: 5px 0;
    text-align: center;
    color: #fff;
}
.sider {
    height: 100%;
    .logo {
        color: #fff;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
    }
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
        color: #1890ff;
    }
}
.btn-logout {
    float: right;
    margin: 15px;
}

.content-write {
    background-color: #fff;
    padding-bottom: 90px;
    .title {
        color: #333;
        font-size: 24px;
    }
    .action-area {
        height: 54px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 200px;
        z-index: 9;
        background-color: #F3F3F3;
        box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.24);
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.line-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    margin: 10px 0;
    .line-label {
        width: 100px;
        color: #888;
    }
    .line-text {
        flex: 1;
    }
}
.labelBox {
    display: flex;
    align-items: center;
    .labelTitle {
        width: 80px;
    }
    .labelNode {
        flex: 1;
    }
}
.tagsBox {
    .title {
        color: #888;
        font-size: 16px;
        margin: 20px 0 15px;
    }
    .itemsBox {
        border: 1px solid #888;
        padding: 10px;
        border-radius: 5px;
        min-height: 100px;
    }
    .actionBox {
        text-align: right;
        margin: 15px 0;

    }
    .headerLine {
        display: flex;
        align-items: center;
    }
    .labelBox {
        margin-right: 30px;
    }
    .tagItem {
        padding: 1px 5px;
        border: 1px solid #d5d5d5;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    .tagText {
        margin-right: 5px;
        color: #888;
    }
}