* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fbfbfb;
    font-family: Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif;
}
.flex {
    display: flex;
}
.flex1 {
    flex: 1;
}
.hide {
    display: none;
}
.fcenter {
    display: flex;
    align-items: center;
}
.cdark {
    color: #333;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: #b0a0aa;
    }
}
.btn {
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    color: #1d7dd8;
    border: 1px solid #1268b8;
    border-radius: 4px;
}
