.containerWaterFlow {
    width: 100%;
    position: relative;
    // overflow: visible;
    height: 10px;
    .waterflow-item {
        position: absolute;
        padding: 5px;
        height: auto;
        box-sizing: border-box;
        margin-left: -8px;//滚动条宽度/2
        cursor: pointer;
        transition: 0.5s;
    }
}

.loading-img {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
