.login-bg {
    background: transparent;
    // background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
    min-height: 100%;
    padding: 150px 0;
    .login-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    .login-form {
        width: 368px;
        margin: 0 auto;
        box-sizing: content-box;
    }
    .login-form-button {
        width: 100%;
    }
    #canvas {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 800px;
    }
}