.left-col {
    width: 300px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all .2s ease-in;
    z-index: 999;
    height: 100%;
    font-family: 'LingWai SC';
    font-size: 20px;
    overflow-y: auto;
    // border-right: 1px solid #ccc;
    .overlay {
        background: #40a9ff;
        width: 100%;
        height: 180px;
    }
    .nav-area {
        margin: 0 50px;
        text-align: center;
        position: relative;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .nav-head {
        width: 128px;
        height: 128px;
        overflow: hidden;
        border-radius: 300px;
        border: 5px solid #fff;
        background: #88acdb;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: -64px;
        left: 50%;
        margin-left: -64px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-superpowers {
        font-size: 70px;
        color: #6f1414;
    }
    .nav-name {
        color: #696969;
        margin: 20px 0;
        font-size: 40px;
    }
    .nav-menu {
        font-weight: 300;
        line-height: 31px;
        li {height: 25px; line-height: 25px;}
        .iconfont {
            color: #1890ff;
            margin-right: 5px;
            vertical-align: top;
        }
    }
    .nav-small-menu {
        margin: 15px 0;
        li {display: inline;margin: 0 2px;}
        
    }
    .out-link {
        ul {position: relative;}
        li {
            display: inline-block;
            margin: 0 8px 15px;
            height: 28px;
            text-align: center;
        }
        .icon-github {
            color: rgb(61, 51, 51);
        }
        .icon-CN_jianshu {
            color: rgb(136, 34, 16);
        }
        .icon-weibiaoti103 {
            color: rgb(128, 186, 213);
        }
    }
    .btn-editor {
        display: inline-block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #112319;
        border-radius: 4px;
        margin: 0 auto;
        color: #fff;
        background: #1c424f;
        cursor: pointer;
        &:hover {
            background: #173d66;
            font-size: 25px;
        }
        a{
            color: #fff;
            display: inline-block;
            width: 100%;
        }
    }
}
